{% extends 'layouts/base.html' %}
{% block title %}Confirm your Deposit{% endblock title %}

{% block javascripts %}
<!-- Add the required JavaScript code to enable copy to clipboard functionality -->
<script>
    // Get the readonly input field
    var input = document.getElementById("readonlyInput");
  
    // Get the copy button
    var button = document.getElementById("copyButton");
  
    // Add a click event listener to the copy button
    button.addEventListener("click", function() {
      // Select the text in the input field
      input.select();
  
      // Copy the selected text to the clipboard
      document.execCommand("copy");
  
      // Show a tooltip to indicate that the text has been copied
      button.setAttribute("data-bs-original-title", "Copied!");
      var tooltip = bootstrap.Tooltip.getOrCreateInstance(button);
      tooltip.show();
  
      // Reset the tooltip after 1 second
      setTimeout(function() {
        button.setAttribute("data-bs-original-title", "Copy to clipboard");
        tooltip.hide();
      }, 1000);
    });
  </script>  
{% endblock javascripts %}

{% block content %}
<div class="container align-content-lg-center justify-content-center">
    <div class="card mb-4">
    <center>
        <div class="card-img-top align-items-lg-center">
            <img src="/static/assets/img/deposit.png">
        </div>
        <div class="card-body align-items-center">
            <h2 class="card-header">Order Open</h2>
            <div class="card-body">
                <p>
                    Please send the corresponding token to the following address                
                </p>
                <div class="row-cols-md-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" id="readonlyInput" readonly value="{{ add }}">
                        <button class="btn btn-outline-secondary" type="button" id="copyButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                              </svg>
                        </button>
                      </div>
                </div>
                <br><br><br>
                {% for obj in objs %}
                <div class="card shadow-lg">
                <div class="container-fluid">
                    <br><br>
                    <div class="row-cols-md-auto">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input class="form-control" id="amount" type="text" placeholder="amount" value="{{ obj.amount }}" readonly>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row-cols-md-auto">
                        <div class="form-group">
                            <label for="token">Token</label>
                            <input class="form-control" id="token" type="text" placeholder="token" value="{{ obj.token }}" readonly>
                        </div>
                    </div>
                    <br><br>
                    <div class="row-cols-md-auto">
                        <div class="form-group">
                            <label for="Plan">Plan</label>
                            <input class="form-control" id="plan" type="text" placeholder="Plan" value="{{ obj.plan }}" readonly>
                        </div>
                    </div>
                    <br><br>
                    <br><br>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-4" data-toggle="modal" data-target="#modal_payment" type="button">I have Completed Payment</button>
                    </div>
                    <div class="mt-3">
                      <button class="btn btn-danger mt-2 animate-up-4" data-toggle="modal" data-target="#cancel" type="button">Cancel Order</button>
                  </div>
                    <br><br>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        
    </center>
    </div>
    <!-- Modal -->
<div class="modal fade" id="modal_payment" tabindex="-1" role="dialog" aria-labelledby="modal_payment_ok" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_payment_ok_title">Order Complete</h5>
          <button type="button" class="btn-close" data-dismiss="modal" >
          </button>
        </div>
        <div class="modal-body">
          <p> As soon as one confirmation is recieved for your deposit, balance will be shown in your dashboard and investment will start immediately.
          </p>
        </div>
        <div class="modal-footer">
            <a href="/dashboard.html">
          <button type="button" class="btn btn-gray-800 mt-2 animate-up-4">Go to dashboard</button>
            </a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="modal_payment_cancelled" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_payment_ok_title">Are you sure you want to cancel your Order?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" >
        </button>
      </div>
      <div class="modal-footer">
          <a href="/pricing.html">
        <button type="button" class="btn btn-gray-800 mt-2 animate-up-4">OK</button>
          </a>
    </div>
  </div>
</div>
</div>


{% endblock content %}