{% extends 'layouts/base.html' %}

{% block content %}
<div class="container align-content-lg-center justify-content-center">
    <div class="card mb-4">
    <center>
        <div class="card-img-top align-items-lg-center">
            <img src="/static/assets/img/avatar.png">
        </div>
        <div class="card-body align-items-center">
            <h2 class="card-header">Deposit Confirmation</h2>
            <div class=""
        </div>
        
    </center>
    </div>
</div>
{% endblock content %}