{% extends 'layouts/base.html' %}

{% block title %}Choose Plan{% endblock title %}
{% block content %}

<br><br>
<h1>Choose Plan</h1>
<br><br>

<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Starter</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$70-$2999 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10% every 24 hours</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button onclick="window.location.href='{% url 'deposit' %}';" type="button" class="btn btn-lg btn-block btn-outline-primary">Deposit</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$3000-$9999 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>15% every 24 hours</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button onclick="window.location.href='{% url 'deposit' %}';" type="button" class="btn btn-lg btn-block btn-primary">Deposit</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$10000-$50000 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>50% every 72 hours</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button onclick="window.location.href='{% url 'deposit' %}';" type="button" class="btn btn-lg btn-block btn-primary">Deposit</button>
          </div>
        </div>
      </div>
{% endblock content %}